/* ---------- Grid  ---------- */

/*
  The columns inside a row are all floatinh to the left, and therefore taken
  out of the flow of the page, and other elements will be placed as if the columns
  do not exit. To prevent this, we will add a style that clears the flow:
*/

.section__row::after {
  content: "";
  clear: both;
  display: table;
}

/*
  All these columns should be floating to the left, and have a padding of 15px

*/
/* For Mobile */
[class*="col-"] {
  float: left;
  padding: 15px;
  width: 100%;
}

/*
  First we must calculate the percentage for one column: 100% / 12 columns = 8.33%
  Then we make one class for each of the 12 columns, class="col-" and a number
  defining how many columns the section should span.
*/

@media (min-width: 768px) {
  /* For Tablets */
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  /* For desktops */
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
